<div class="container">
  <h1 id="page_title">Thanks for checking out noted</h1>
  <p>Want to get in touch? Fill out the form below to send me a message:</p>

  <div class="contact-form">
    <%= form_for @contact do |f| %>
      <%= f.text_field :name, required: true, placeholder: "Name" %>
      <br>
      <%= f.email_field :email, required: true, placeholder: "Email" %>
      <br>
      <%= f.text_field :phone, required: false, placeholder: "Phone Number" %>
      <br>
      <%= f.text_area :message, as: :text, placeholder: "Message" %>

      <div class="hidden">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <div class="submit-button"><%= f.submit 'Send message', id: "submit" %></div>
    <% end %>
  </div>
</div>
