= form_for [wiki] do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
  .form-group
    = f.label :body
    = f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body"
  - if current_user.admin? || current_user.premium?
    .form-group
      = f.label :private, class: 'checkbox' do
        = f.check_box :private
        Private wiki
  .form-group
    = f.submit "Save", class: 'btn btn-success'
  - if @wiki.private
    = render partial: 'collaborators/form', locals: { f: f }
