<h1 class="header">All notes
  <div class="header-button"></div>
  <%= link_to 'New note', new_wiki_path, class: 'btn btn-success' %>
</h1>
<hr>
<br/>

<div class="container">
  <h3>Below is a list of all public notes:</h3>
  <% @wikis.each do |wiki| %>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="author">
          <%= link_to wiki.title, wiki %>
          <br>
          <small>
            submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.email %>
          </small>
          <hr>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @wikis, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0%>
